#landingPage {
  height: 100vh;
  width: 100%;
}

.app {
  height: auto;
  background-image: url("/assets/black_sand_hidden_sun.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
}

#formContainer {
  background-color: rgba($color: black, $alpha: 0.3);
  height: auto;
  width: 800px;
  border: 1px solid green;
}

// .form {
//   border: 1px solid yellow;

//   margin: 0 auto;
//   padding: 0;
// }

span {
  width: 100%;
  color: white;
  font-size: 25px;
}
label {
  color: white;
}
